html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Высота вашего футера */
    background-color: #f5f5f5; /* Цвет фона футера */
    text-align: center; /* Центрирование содержимого */
    line-height: 60px; /* Выравнивание содержимого по вертикали */
}
