@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <style>
        #canvas {
            width: 100%;
            height: 500px;
            border: solid 1px black;
            margin-bottom: 20px;
        }

        .header-section {
            text-align: center;
            margin-bottom: 50px;
        }

            .header-section h1 {
                color: #007bff;
            }

        .project-info {
            margin-bottom: 50px;
        }

        .task-list {
            list-style-type: none;
            padding: 0;
        }

            .task-list li {
                margin-bottom: 10px;
                font-size: 16px;
            }

                .task-list li::before {
                    content: "\2022";
                    color: #007bff;
                    font-weight: bold;
                    display: inline-block;
                    width: 1em;
                    margin-left: -1em;
                }

        .header-image {
            width: 50%;
            height: 50% margin: 0 auto;
        }

        .auth-buttons {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

            .auth-buttons a {
                margin-left: 10px;
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="header-section">
            <h1>Добро пожаловать в проект «Разработка платформы для создания системы поддержки принятия решений на платформе ASP.NET»</h1>
            <p>Веб-приложение для проектирования и оптимизации бизнес-процессов</p>
            <img src="/images/index.jpg" alt="BPMN Diagram Example" class="img-fluid header-image">
        </div>

        <!-- Кнопки для перехода на страницы регистрации и авторизации -->
        <div class="auth-buttons">
            <a href="/Login" class="btn btn-primary">Вход</a>
            <a href="/Register" class="btn btn-secondary">Регистрация</a>
        </div>

        <div class="project-info">
            <h2>О проекте</h2>
            <p>Наш проект направлен на создание удобного и функционального инструмента для работы с BPMN-диаграммами. Мы стремимся предоставить пользователям возможность эффективно проектировать и оптимизировать бизнес-процессы, используя методологию BPMN (Business Process Model and Notation).</p>

            <h3>Цели и задачи проекта</h3>
            <ul class="task-list">
                <li>Исследование текущего состояния бизнес-процессов: анализ существующих проблем и потребностей компаний в инструментах для проектирования и оптимизации процессов.</li>
                <li>Изучение и применение BPMN-диаграмм: Данная задача включает в себя изучение и применение методологии BPMN как инструмента для визуализации и структурирования бизнес-процессов.</li>
                <li>Разработка веб-приложения для работы с BPMN-диаграммами: В рамках этой задачи разрабатывается веб-приложение, способное работать с BPMN-диаграммами для определения правил для системы поддержки принятия решений.</li>
                <li>Изучение API Yandex Task Tracker: Данная задача направлена на изучение API таск-трекера "Yandex Task Tracker" для получения данных о задачах за определенный период.</li>
                <li>Предоставление удобного доступа к информации по возможным вариантам решений: Задача заключается в разработке интерфейса, который позволит лицам, принимающим решения, удобно получать информацию по возможным вариантам решений.</li>
            </ul>
        </div>
    </div>
</body>
